<div class="container">
  <h2>Home Page</h2>
  <p>
    If you create content with professional editors and writers, publish it
    periodically, it means that you are in the media business. Owners of
    newspapers and magazines establish media companies. They produce content,
    bundle it, and distribute it. Sometimes, they produce it in both paper and
    digital formats.
  </p>
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="thumbnail">
        <a href="#" target="_blank">
          <img
            src="../../../assets/homeOne.jpg"
            alt="Lights"
            style="width: 100%; height: 275px"
          />
          <div class="caption">
            <p>Blog is the best way of media for publishers</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="thumbnail">
        <a href="#" target="_blank">
          <img
            src="../../../assets/homeTwo.jpg"
            alt="Nature"
            style="width: 100%; height: 275px"
          />
          <div class="caption">
            <p>News paper is the old and best way of media for publishers</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="thumbnail">
        <a href="#" target="_blank">
          <img
            src="../../../assets/homeThree.jpg"
            alt="Fjords"
            style="width: 100%; height: 275px"
          />
          <div class="caption">
            <p>Recoding media publishers</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="thumbnail">
        <a href="#" target="_blank">
          <img
            src="../../../assets/galleryImageFive.jpg"
            alt="Fjords"
            style="width: 100%; height: 275px"
          />
          <div class="caption">
            <p>Social media is the Modern and Digital way used by publisher</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
