<div class="container">
  <h2>Image Gallery</h2>
  <p>Convert 10-15% of visitors into subscribers</p>
  <p>Effectively target your campaigns</p>
  <p>Click on the images to enlarge them.</p>
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="thumbnail">
        <a href="../../../assets/galleryImgOne.jpg" target="_blank">
          <img
            src="../../../assets/galleryImgOne.jpg"
            alt="Lights"
            style="width: 100%"
          />
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="thumbnail">
        <a href="../../../assets/gelleryImageTwo.jpg" target="_blank">
          <img
            src="../../../assets/gelleryImageTwo.jpg"
            alt="Nature"
            style="width: 100%"
          />
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="thumbnail">
        <a href="../../../assets/galleryImageThree.jpg" target="_blank">
          <img
            src="../../../assets/galleryImageThree.jpg"
            alt="Fjords"
            style="width: 100%"
          />
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="thumbnail">
        <a href="../../../assets/galleryImageFour.jpg" target="_blank">
          <img
            src="../../../assets/galleryImageFour.jpg"
            alt="Fjords"
            style="width: 100%"
          />
        </a>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="thumbnail">
        <a href="../../../assets/galleryImageFive.jpg" target="_blank">
          <img
            src="../../../assets/galleryImageFive.jpg"
            alt="Fjords"
            style="width: 100%"
          />
        </a>
      </div>
    </div>

    <div class="col-md-3 col-sm-12">
      <div class="thumbnail">
        <a href="../../../assets/homeOne.jpg" target="_blank">
          <img
            src="../../../assets/homeOne.jpg"
            alt="Fjords"
            style="width: 100%"
          />
        </a>
      </div>
    </div>

    <div class="col-md-3 col-sm-12">
      <div class="thumbnail">
        <a href="../../../assets/homeTwo.jpg" target="_blank">
          <img
            src="../../../assets/homeTwo.jpg"
            alt="Fjords"
            style="width: 100%"
          />
        </a>
      </div>
    </div>

    <div class="col-md-3 col-sm-12">
      <div class="thumbnail">
        <a href="../../../assets/galleryImageSix.jpg" target="_blank">
          <img
            src="../../../assets/galleryImageSix.jpg"
            alt="Fjords"
            style="width: 100%"
          />
        </a>
      </div>
    </div>
  </div>
</div>
