<div class="aboutus-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="aboutus">
          <h2 class="aboutus-title">About Us</h2>
          <p class="aboutus-text"></p>
          <p class="aboutus-text">
            <strong>xyzMediaCompany.com</strong> is a team of digital marketing
            professionals who love this business. We started in 2013 with only 4
            people. Today we have more than 20 people, and our client base
            consists mostly of media companies. We offer the widest range of
            push notification services in the industry!
          </p>
          <a class="aboutus-more">read more</a>
        </div>
      </div>
    </div>

    <div class="row mt-4 mb-4">
      <div class="col-sm-12">
        <h2 class="aboutus-title">Our Team Members</h2>
      </div>
    </div>

    <div class="row">
      <!--team-1-->
      <div class="col-lg-4">
        <div class="our-team-main">
          <div class="team-front">
            <img
              src="http://placehold.it/110x110/9c27b0/fff?text=Dilip"
              class="img-fluid"
              alt="teamMemberOne"
            />
            <h3>Dilip Kevat</h3>
            <p>Architect</p>
          </div>

          <div class="team-back">
            <span>
              Dilip Kevat as a co-founder, brings his extensive experience of
              working with iconic tech companies. Along with his team.
            </span>
          </div>
        </div>
      </div>

      <!--team-1-->

      <!--team-2-->
      <div class="col-sm-4">
        <div class="our-team-main">
          <div class="team-front">
            <img
              src="http://placehold.it/110x110/336699/fff?text=Jacob"
              class="img-fluid"
              alt="teamMemberTwo"
            />
            <h3>Jacob</h3>
            <p>Web Designer</p>
          </div>

          <div class="team-back">
            <span>
              Jacob comes with a rich background of product development and
              delivery.
            </span>
          </div>
        </div>
      </div>
      <!--team-2-->

      <!--team-3-->
      <div class="col-sm-4">
        <div class="our-team-main">
          <div class="team-front">
            <img
              src="http://placehold.it/110x110/607d8b/fff?text=Kirti"
              class="img-fluid"
              alt="teamMemberThree"
            />
            <h3>Kirti</h3>
            <p>Web Designer & Architect</p>
          </div>

          <div class="team-back">
            <span>
              Kirti comes with a rich background of product development and
              delivery.Also solution architect for better development of
              applications.
            </span>
          </div>
        </div>
        <!--team-3-->
      </div>
    </div>
  </div>
</div>
